<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundlePackageType</key>
	<string>BRPL</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en-US</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleVersion</key>
	<string>2.0.0</string>
	<key>CFBundleIdentifier</key>
	<string>org.cuemol.CueMol2Plugin</string>
	<key>CFBundleName</key>
	<string>CueMol2Plugin</string>
	<key>CFBundleExecutable</key>
	<string>CueMol2Plugin</string>
	<key>WebPluginMIMETypes</key>
	<dict>
		<key>application/cuemol2-plugin</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>CueMol2 Plugin</string>
		</dict>
	</dict>
	<key>WebPluginDescription</key>
	<string>CueMol2 Plugin</string>
	<key>WebPluginName</key>
	<string>CueMol2 Plugin</string>
	<key>CFBundleGetInfoString</key>
	<string>Copyright @COPYRIGHT_YEARS@ BKR-LAB</string>
	<key>CFBundleSignature</key>
	<string>MOSS</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CSResourcesFileMapped</key>
	<true/>
</dict>
</plist>
