---
BasedOnStyle:  Google

IndentWidth:     4
Language:        Cpp
Standard:        Cpp11
TabWidth:        4
UseTab:          Never
AccessModifierOffset: -4
ColumnLimit: 88
Cpp11BracedListStyle: true
BreakBeforeBinaryOperators: None
AllowShortFunctionsOnASingleLine: Empty

IncludeBlocks:   Regroup
IncludeCategories:
  - Regex:           '^<common.h>$'
    Priority:        -1
  - Regex:           '^<ext/.*\.h>'
    Priority:        2
  - Regex:           '^<.*\.h>'
    Priority:        1
  - Regex:           '^<.*'
    Priority:        2
  - Regex:           '.*'
    Priority:        3

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass:      true
  AfterControlStatement: false
  AfterEnum:       false
  AfterFunction:   true
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     true
  AfterUnion:      true
  AfterExternBlock: true
  BeforeCatch:     false
  BeforeElse:      false
  IndentBraces:    false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

